USE [master]
GO
/****** Object:  Database [QMS]    Script Date: 11/1/2024 15:58:56 ******/
CREATE DATABASE [QMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QMS', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QMS_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QMS]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](50) NOT NULL,
	[Logo] [image] NULL,
	[ExtensionArchivo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactosClientes]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactosClientes](
	[IdContacto] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_ContactosClientes] PRIMARY KEY CLUSTERED 
(
	[IdContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danio]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danio](
	[IdDanio] [smallint] IDENTITY(1,1) NOT NULL,
	[Danio] [varchar](15) NULL,
 CONSTRAINT [PK_danio] PRIMARY KEY CLUSTERED 
(
	[IdDanio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosLinea]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosLinea](
	[IdLinea] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[NombreLinea] [varchar](50) NOT NULL,
	[Diametro] [smallint] NOT NULL,
	[LargoTuberia] [decimal](18, 3) NOT NULL,
	[IdGradoTuberia] [int] NOT NULL,
	[IdTipoSoldaduraLong] [int] NOT NULL,
	[ProductoTransportado] [varchar](50) NOT NULL,
	[PD] [decimal](18, 2) NOT NULL,
	[FD] [decimal](5, 2) NOT NULL,
	[MAOP] [decimal](5, 2) NOT NULL,
	[EspesorNominal] [decimal](5, 2) NOT NULL,
	[EspesorMin] [decimal](5, 2) NOT NULL,
	[EspesorMax] [decimal](5, 2) NOT NULL,
	[AnioInstalacion] [int] NOT NULL,
	[InspeccionPrevio] [bit] NOT NULL,
	[AnioInspeccionPrevia] [int] NULL,
	[SMYS] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradoTuberia]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradoTuberia](
	[IdGradoTuberia] [int] IDENTITY(1,1) NOT NULL,
	[Grado] [varchar](15) NULL,
 CONSTRAINT [PK_GradoTuberia] PRIMARY KEY CLUSTERED 
(
	[IdGradoTuberia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Herramientas]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Herramientas](
	[IdHerramienta] [int] IDENTITY(1,1) NOT NULL,
	[NombreHerramienta] [varchar](50) NOT NULL,
	[Diametro] [smallint] NOT NULL,
	[IdTipoHerramienta] [int] NOT NULL,
	[CantSensores] [smallint] NULL,
 CONSTRAINT [PK_Herramientas] PRIMARY KEY CLUSTERED 
(
	[IdHerramienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historialCambios]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historialCambios](
	[IdReporte] [int] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[IdUsuario] [nchar](10) NOT NULL,
	[Comentario] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoTransportado]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoTransportado](
	[IdProductoTransportado] [smallint] IDENTITY(1,1) NOT NULL,
	[Producto] [varchar](50) NULL,
 CONSTRAINT [PK_NewTable] PRIMARY KEY CLUSTERED 
(
	[IdProductoTransportado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteBIDI]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteBIDI](
	[IdReporteBIDI] [int] IDENTITY(1,1) NOT NULL,
	[IdHerramienta] [int] NULL,
	[IdLinea] [int] NULL,
	[fechaOperacion] [datetime] NULL,
	[fechaRecepcion] [datetime] NULL,
	[maximaReduccion] [int] NULL,
	[residuosRecolectados] [int] NULL,
	[pasadasRequeridas] [smallint] NULL,
	[IdDanioPlaca] [smallint] NULL,
	[IdTipoDeformacion] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteCLP]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteCLP](
	[IdReporteCLP] [int] IDENTITY(1,1) NOT NULL,
	[IdHerramienta] [int] NULL,
	[IdLinea] [int] NULL,
	[fechaOperacion] [datetime] NULL,
	[fechaRecepcion] [datetime] NULL,
	[residuos] [decimal](5, 2) NULL,
	[presionLanzador] [decimal](5, 2) NULL,
	[presionRecibidor] [decimal](5, 2) NULL,
	[temperaturaMin] [decimal](5, 2) NULL,
	[temperaturaMax] [decimal](5, 2) NULL,
	[IdDanioHerramienta] [smallint] NULL,
	[tasaFlujo] [decimal](5, 2) NULL,
	[tamaniodata] [decimal](5, 2) NULL,
	[longitudOdo1] [decimal](5, 2) NULL,
	[longitudOdo2] [decimal](5, 2) NULL,
	[sensoresDaniados] [varchar](150) NULL,
	[comentarios] [varchar](50) NULL,
 CONSTRAINT [PK_ReporteCLP] PRIMARY KEY CLUSTERED 
(
	[IdReporteCLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteIMU]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteIMU](
	[IdReporteIMU] [int] IDENTITY(1,1) NOT NULL,
	[IdLinea] [int] NULL,
	[Inicio] [datetime] NULL,
	[Fin] [int] NULL,
 CONSTRAINT [PK_ReporteIMU] PRIMARY KEY CLUSTERED 
(
	[IdReporteIMU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteMFL]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteMFL](
	[IdReporteMFL] [int] IDENTITY(1,1) NOT NULL,
	[IdHerramienta] [int] NULL,
	[IdLinea] [int] NULL,
	[fechaOperacion] [datetime] NULL,
	[fechaRecepcion] [datetime] NULL,
	[residuos] [decimal](5, 2) NULL,
 CONSTRAINT [PK_ReporteMFL] PRIMARY KEY CLUSTERED 
(
	[IdReporteMFL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportes]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportes](
	[IdReporteQMS] [int] IDENTITY(1,1) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdTipoInspeccion] [smallint] NOT NULL,
	[IdLinea] [int] NULL,
	[IdReporteBIDI] [int] NULL,
	[IdReporteCLP] [int] NULL,
	[IdReporteMFL] [int] NULL,
	[IdReporteIMU] [int] NULL,
	[IdRedactor] [int] NULL,
	[IdAprobador] [int] NULL,
	[FechaInspecion] [datetime] NULL,
 CONSTRAINT [PK_reportes] PRIMARY KEY CLUSTERED 
(
	[IdReporteQMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDeformacion]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDeformacion](
	[IdTipoDeformacion] [smallint] IDENTITY(1,1) NOT NULL,
	[TipoDeformacion] [varchar](20) NULL,
 CONSTRAINT [PK_TipoDeformacion] PRIMARY KEY CLUSTERED 
(
	[IdTipoDeformacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHerramienta]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHerramienta](
	[IdTipoHerramienta] [int] IDENTITY(1,1) NOT NULL,
	[TipoHerramienta] [varchar](50) NULL,
 CONSTRAINT [PK_TipoHerramienta] PRIMARY KEY CLUSTERED 
(
	[IdTipoHerramienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoInspeccion]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoInspeccion](
	[IdTipoInspeccion] [smallint] IDENTITY(1,1) NOT NULL,
	[TipoInspeccion] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoInspeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoSoldadura]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoSoldadura](
	[IdTipoSoldaduraLong] [int] IDENTITY(1,1) NOT NULL,
	[TipoSoldadura] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[IdTipoUsuario] [int] NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 11/1/2024 15:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[loginUsuario] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
	[mail] [varchar](50) NULL,
	[fechaAlta] [datetime] NULL,
	[fechaBaja] [datetime] NULL,
	[IdTipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactosClientes] ON 

INSERT [dbo].[ContactosClientes] ([IdContacto], [IdCliente], [Nombre], [Apellido], [Mail], [Telefono], [Activo]) VALUES (1, 1, N'Juan', N'Perez', N'juan.perez@ypf.com', N'123456', 1)
INSERT [dbo].[ContactosClientes] ([IdContacto], [IdCliente], [Nombre], [Apellido], [Mail], [Telefono], [Activo]) VALUES (2, 2, N'Juan', N'Perez', N'juan.perez@gmail.com', N'111111', 1)
INSERT [dbo].[ContactosClientes] ([IdContacto], [IdCliente], [Nombre], [Apellido], [Mail], [Telefono], [Activo]) VALUES (3, 3, N'Juan', N'Otasa', N'juan@otasa.com', N'123456', 1)
SET IDENTITY_INSERT [dbo].[ContactosClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[danio] ON 

INSERT [dbo].[danio] ([IdDanio], [Danio]) VALUES (1, N'NULO')
INSERT [dbo].[danio] ([IdDanio], [Danio]) VALUES (2, N'MODERADO')
INSERT [dbo].[danio] ([IdDanio], [Danio]) VALUES (3, N'SEVERO')
SET IDENTITY_INSERT [dbo].[danio] OFF
GO
SET IDENTITY_INSERT [dbo].[DatosLinea] ON 

INSERT [dbo].[DatosLinea] ([IdLinea], [IdCliente], [NombreLinea], [Diametro], [LargoTuberia], [IdGradoTuberia], [IdTipoSoldaduraLong], [ProductoTransportado], [PD], [FD], [MAOP], [EspesorNominal], [EspesorMin], [EspesorMax], [AnioInstalacion], [InspeccionPrevio], [AnioInspeccionPrevia], [SMYS]) VALUES (1, 1, N'Lujan de Cuyo', 1, CAST(105000.000 AS Decimal(18, 3)), 1, 1, N'1', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, 0, 1, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[DatosLinea] ([IdLinea], [IdCliente], [NombreLinea], [Diametro], [LargoTuberia], [IdGradoTuberia], [IdTipoSoldaduraLong], [ProductoTransportado], [PD], [FD], [MAOP], [EspesorNominal], [EspesorMin], [EspesorMax], [AnioInstalacion], [InspeccionPrevio], [AnioInspeccionPrevia], [SMYS]) VALUES (2, 1, N'VM', 0, CAST(100000.000 AS Decimal(18, 3)), 1, 1, N'', CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 0, 0, 0, CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[DatosLinea] ([IdLinea], [IdCliente], [NombreLinea], [Diametro], [LargoTuberia], [IdGradoTuberia], [IdTipoSoldaduraLong], [ProductoTransportado], [PD], [FD], [MAOP], [EspesorNominal], [EspesorMin], [EspesorMax], [AnioInstalacion], [InspeccionPrevio], [AnioInspeccionPrevia], [SMYS]) VALUES (3, 2, N'La Paz', 0, CAST(25000.000 AS Decimal(18, 3)), 1, 1, N'', CAST(1.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(5, 2)), CAST(2.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 0, 0, 0, CAST(0.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[DatosLinea] OFF
GO
SET IDENTITY_INSERT [dbo].[GradoTuberia] ON 

INSERT [dbo].[GradoTuberia] ([IdGradoTuberia], [Grado]) VALUES (1, N'Grado B')
INSERT [dbo].[GradoTuberia] ([IdGradoTuberia], [Grado]) VALUES (2, N'X42')
INSERT [dbo].[GradoTuberia] ([IdGradoTuberia], [Grado]) VALUES (3, N'X46')
SET IDENTITY_INSERT [dbo].[GradoTuberia] OFF
GO
SET IDENTITY_INSERT [dbo].[Herramientas] ON 

INSERT [dbo].[Herramientas] ([IdHerramienta], [NombreHerramienta], [Diametro], [IdTipoHerramienta], [CantSensores]) VALUES (1, N'GP-PIG-14-02', 14, 1, 0)
INSERT [dbo].[Herramientas] ([IdHerramienta], [NombreHerramienta], [Diametro], [IdTipoHerramienta], [CantSensores]) VALUES (2, N'GP-MFL-10"', 10, 2, 16)
INSERT [dbo].[Herramientas] ([IdHerramienta], [NombreHerramienta], [Diametro], [IdTipoHerramienta], [CantSensores]) VALUES (3, N'GP-MFL-6"', 6, 2, 12)
SET IDENTITY_INSERT [dbo].[Herramientas] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoTransportado] ON 

INSERT [dbo].[ProductoTransportado] ([IdProductoTransportado], [Producto]) VALUES (1, N'PETRÓLEO')
INSERT [dbo].[ProductoTransportado] ([IdProductoTransportado], [Producto]) VALUES (2, N'DIESEL')
INSERT [dbo].[ProductoTransportado] ([IdProductoTransportado], [Producto]) VALUES (3, N'AGUA')
SET IDENTITY_INSERT [dbo].[ProductoTransportado] OFF
GO
SET IDENTITY_INSERT [dbo].[ReporteBIDI] ON 

INSERT [dbo].[ReporteBIDI] ([IdReporteBIDI], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [maximaReduccion], [residuosRecolectados], [pasadasRequeridas], [IdDanioPlaca], [IdTipoDeformacion]) VALUES (1, 1, NULL, CAST(N'2023-12-01T07:32:00.000' AS DateTime), CAST(N'2023-12-10T16:32:00.000' AS DateTime), 10, 0, 1, 1, 1)
INSERT [dbo].[ReporteBIDI] ([IdReporteBIDI], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [maximaReduccion], [residuosRecolectados], [pasadasRequeridas], [IdDanioPlaca], [IdTipoDeformacion]) VALUES (2, 1, NULL, CAST(N'2023-12-12T02:24:00.000' AS DateTime), CAST(N'2023-12-13T17:24:00.000' AS DateTime), 105, 0, 1, 1, 1)
INSERT [dbo].[ReporteBIDI] ([IdReporteBIDI], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [maximaReduccion], [residuosRecolectados], [pasadasRequeridas], [IdDanioPlaca], [IdTipoDeformacion]) VALUES (3, 1, NULL, CAST(N'2023-12-12T12:54:00.000' AS DateTime), CAST(N'2023-12-13T17:54:00.000' AS DateTime), 110, 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[ReporteBIDI] OFF
GO
SET IDENTITY_INSERT [dbo].[ReporteCLP] ON 

INSERT [dbo].[ReporteCLP] ([IdReporteCLP], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [residuos], [presionLanzador], [presionRecibidor], [temperaturaMin], [temperaturaMax], [IdDanioHerramienta], [tasaFlujo], [tamaniodata], [longitudOdo1], [longitudOdo2], [sensoresDaniados], [comentarios]) VALUES (1, 6, 1, CAST(N'2024-01-04T01:57:00.000' AS DateTime), CAST(N'2024-01-04T19:57:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'2;4;7;', NULL)
INSERT [dbo].[ReporteCLP] ([IdReporteCLP], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [residuos], [presionLanzador], [presionRecibidor], [temperaturaMin], [temperaturaMax], [IdDanioHerramienta], [tasaFlujo], [tamaniodata], [longitudOdo1], [longitudOdo2], [sensoresDaniados], [comentarios]) VALUES (2, 6, 1, CAST(N'2024-01-05T23:24:00.000' AS DateTime), CAST(N'2024-01-06T11:24:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'', NULL)
INSERT [dbo].[ReporteCLP] ([IdReporteCLP], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [residuos], [presionLanzador], [presionRecibidor], [temperaturaMin], [temperaturaMax], [IdDanioHerramienta], [tasaFlujo], [tamaniodata], [longitudOdo1], [longitudOdo2], [sensoresDaniados], [comentarios]) VALUES (3, 6, 6, CAST(N'2023-10-30T12:55:00.000' AS DateTime), CAST(N'2023-10-31T04:25:00.000' AS DateTime), CAST(0.00 AS Decimal(5, 2)), NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, N'', NULL)
SET IDENTITY_INSERT [dbo].[ReporteCLP] OFF
GO
SET IDENTITY_INSERT [dbo].[ReporteIMU] ON 

INSERT [dbo].[ReporteIMU] ([IdReporteIMU], [IdLinea], [Inicio], [Fin]) VALUES (1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ReporteIMU] OFF
GO
SET IDENTITY_INSERT [dbo].[ReporteMFL] ON 

INSERT [dbo].[ReporteMFL] ([IdReporteMFL], [IdHerramienta], [IdLinea], [fechaOperacion], [fechaRecepcion], [residuos]) VALUES (1, 2, 1, CAST(N'2024-01-01T17:18:00.000' AS DateTime), CAST(N'2024-01-02T18:18:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[ReporteMFL] OFF
GO
SET IDENTITY_INSERT [dbo].[reportes] ON 

INSERT [dbo].[reportes] ([IdReporteQMS], [FechaCreacion], [IdTipoInspeccion], [IdLinea], [IdReporteBIDI], [IdReporteCLP], [IdReporteMFL], [IdReporteIMU], [IdRedactor], [IdAprobador], [FechaInspecion]) VALUES (1, CAST(N'2023-12-13T00:00:00.000' AS DateTime), 3, 1, 1, 2, 1, 1, NULL, NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[reportes] ([IdReporteQMS], [FechaCreacion], [IdTipoInspeccion], [IdLinea], [IdReporteBIDI], [IdReporteCLP], [IdReporteMFL], [IdReporteIMU], [IdRedactor], [IdAprobador], [FechaInspecion]) VALUES (2, CAST(N'2023-12-13T17:13:38.943' AS DateTime), 2, 3, 24, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[reportes] ([IdReporteQMS], [FechaCreacion], [IdTipoInspeccion], [IdLinea], [IdReporteBIDI], [IdReporteCLP], [IdReporteMFL], [IdReporteIMU], [IdRedactor], [IdAprobador], [FechaInspecion]) VALUES (3, CAST(N'2023-12-22T12:09:22.813' AS DateTime), 2, 4, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[reportes] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDeformacion] ON 

INSERT [dbo].[TipoDeformacion] ([IdTipoDeformacion], [TipoDeformacion]) VALUES (1, N'PUNTUAL')
INSERT [dbo].[TipoDeformacion] ([IdTipoDeformacion], [TipoDeformacion]) VALUES (2, N'UNIFORME')
INSERT [dbo].[TipoDeformacion] ([IdTipoDeformacion], [TipoDeformacion]) VALUES (3, N'ROTURA')
SET IDENTITY_INSERT [dbo].[TipoDeformacion] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoHerramienta] ON 

INSERT [dbo].[TipoHerramienta] ([IdTipoHerramienta], [TipoHerramienta]) VALUES (1, N'BIDI')
INSERT [dbo].[TipoHerramienta] ([IdTipoHerramienta], [TipoHerramienta]) VALUES (2, N'MFL')
INSERT [dbo].[TipoHerramienta] ([IdTipoHerramienta], [TipoHerramienta]) VALUES (3, N'CLP')
SET IDENTITY_INSERT [dbo].[TipoHerramienta] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoInspeccion] ON 

INSERT [dbo].[TipoInspeccion] ([IdTipoInspeccion], [TipoInspeccion]) VALUES (1, N'MFL')
INSERT [dbo].[TipoInspeccion] ([IdTipoInspeccion], [TipoInspeccion]) VALUES (2, N'CLP')
INSERT [dbo].[TipoInspeccion] ([IdTipoInspeccion], [TipoInspeccion]) VALUES (3, N'MFL+CLP')
SET IDENTITY_INSERT [dbo].[TipoInspeccion] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoSoldadura] ON 

INSERT [dbo].[TipoSoldadura] ([IdTipoSoldaduraLong], [TipoSoldadura]) VALUES (1, N'ERW')
INSERT [dbo].[TipoSoldadura] ([IdTipoSoldaduraLong], [TipoSoldadura]) VALUES (2, N'DSAW')
INSERT [dbo].[TipoSoldadura] ([IdTipoSoldaduraLong], [TipoSoldadura]) VALUES (3, N'SEAMLESS')
SET IDENTITY_INSERT [dbo].[TipoSoldadura] OFF
GO
ALTER TABLE [dbo].[Herramientas]  WITH CHECK ADD  CONSTRAINT [IdTipoHerramienta] FOREIGN KEY([IdTipoHerramienta])
REFERENCES [dbo].[TipoHerramienta] ([IdTipoHerramienta])
GO
ALTER TABLE [dbo].[Herramientas] CHECK CONSTRAINT [IdTipoHerramienta]
GO
ALTER TABLE [dbo].[reportes]  WITH CHECK ADD FOREIGN KEY([IdTipoInspeccion])
REFERENCES [dbo].[TipoInspeccion] ([IdTipoInspeccion])
GO
USE [master]
GO
